<!DOCTYPE html>
{% extends "AppTwo/baseTwo.html"%}
    {% block title_block %}
        Login
    {% endblock %}

    {% block body_block %}
    <div class="container" align="center">
        <h1 class="jumbotron">Welcome to the login page</h1>
            <form method="post">
                 {{form.as_p}}
                 {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
    </div>

    <div class="container" >
        <p>If you dont have an account please <a href="{% url 'AppTwo:register' %}">register</a> here.</p>
    </div>
    {% endblock %}